<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BackerBridge_2._0.Properties.Settings.BackerBridgeConnectionString"
            connectionString="Data Source=DESKTOP-K4S8L57\SQLEXPRESS;Initial Catalog=BackerBridge;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>